<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:300" rel="stylesheet">
			<link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet">
			<link rel="stylesheet" href="css/reset.css">
			<link rel="stylesheet" href="css/styles.css">
			<link rel="stylesheet" href="css/themes/green-white.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tovar.eri@gmail.com">email</a></li>
	        		<li><a href="https://github.com/tovVAar">github.com/tovVAar</a></li>
				</ul>
			</footer>
		</body>
	</html>