<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:300" rel="stylesheet">
			<link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet">
			<link rel="stylesheet"  type="text/scss" href="css/dynamic.css">
			<link rel="stylesheet" href="css/styles.css">
			<link rel="stylesheet" href="css/themes/grey-white.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/projects">Projects</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tovar.eri@gmail.com"><i class="far fa-envelope"></i> email</a></li>
	        		<li><a href="https://github.com/tovVAar">:octocat: github</a></li>
	        		<li><a href="https://twitter.com/tovVAar"><i class="fab fa-twitter"></i> twitter</a></li>
					<li><a href="https://www.linkedin.com/in/tovarerick/"><i class="fab fa-linkedin"></i> linkedIn</a></li>
					<li><a href="https://www.instagram.com/tovvaar/"><i class="fab fa-instagram"></i> ig/tovvaar</a></li>
				</ul>
			</footer>
		</body>
	</html>